.searchRes{
    padding-top: 20px;
}

.mat-card{
    box-shadow: 0 3px 17px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgb(5, 69, 88);
}

.CheckboxStatus{
    margin-top:9px;
}

.checkStatus{
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}



.imgclass{
    margin-left:10px;margin-bottom:5px;    transform: translateY(-4px);
}